.wrap {
  width: 100vw;
  height: 100%;
  margin: auto;
}
.wrap .header {
  width: 100%;
  height: 60px;
  background: transparent;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  z-index: 10;
}
@media screen and (max-width: 425px) {
  .wrap .header {
    padding: 16px;
  }
}
.wrap .header .logo {
  height: 40px;
}
@media screen and (max-width: 1024px) {
  .wrap .header .logo {
    height: 30px;
  }
}
@media screen and (max-width: 425px) {
  .wrap .header .logo {
    height: 20px;
  }
}
.wrap .header .logo img {
  height: 100%;
}
.wrap .header .nav ul {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  gap: 45px;
}
@media screen and (max-width: 1024px) {
  .wrap .header .nav ul {
    font-size: 20px;
  }
}
@media screen and (max-width: 425px) {
  .wrap .header .nav ul {
    display: none;
  }
}
.wrap .header .bar {
  display: flex;
  gap: 15px;
  align-items: center;
}
@media screen and (max-width: 425px) {
  .wrap .header .bar {
    gap: 8px;
  }
}
@media screen and (max-width: 425px) {
  .wrap .header .bar .search,
  .wrap .header .bar .user,
  .wrap .header .bar .shopping-bag {
    display: none;
  }
}
.wrap .header .bar .menu {
  display: none;
}
@media screen and (max-width: 425px) {
  .wrap .header .bar .menu {
    display: block;
  }
}
.wrap .content {
  background-color: #000;
  position: relative;
  height: 100%;
}
.wrap .content video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrap .content .title {
  position: absolute;
  width: 100%;
  top: 13%;
  padding: 0 50px;
}
@media screen and (max-width: 425px) {
  .wrap .content .title {
    top: 10%;
    padding: 0 16px;
  }
}
.wrap .content .title h1 {
  font-size: 75px;
  font-weight: 600;
  letter-spacing: 2%;
  line-height: 95px;
  text-shadow: rgb(0, 0, 0) 0px 0px 160px;
}
@media screen and (max-width: 1024px) {
  .wrap .content .title h1 {
    font-size: 50px;
    line-height: 62px;
  }
}
@media screen and (max-width: 768px) {
  .wrap .content .title h1 {
    font-size: 38px;
    line-height: 50px;
  }
}
@media screen and (max-width: 425px) {
  .wrap .content .title h1 {
    font-size: 24px;
    line-height: 30px;
  }
}
@media screen and (max-width: 320px) {
  .wrap .content .title h1 {
    font-size: 18px;
    line-height: 26px;
  }
}
@media screen and (max-width: 375px) {
  .wrap .content .title h1 {
    font-size: 18px;
    line-height: 26px;
  }
}
.wrap .content .desc {
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 425px) {
  .wrap .content .desc {
    height: 400px;
  }
}
.wrap .content .desc .text {
  width: 100%;
  font-size: 48px;
  letter-spacing: 0.25;
  line-height: 78px;
  padding: 0 30px;
  white-space: pre-line;
}
@media screen and (max-width: 1024px) {
  .wrap .content .desc .text {
    font-size: 42px;
    line-height: 56px;
  }
}
@media screen and (max-width: 768px) {
  .wrap .content .desc .text {
    font-size: 34px;
    line-height: 48px;
  }
}
@media screen and (max-width: 425px) {
  .wrap .content .desc .text {
    padding: 0 16px;
    font-size: 22px;
    line-height: 30px;
  }
}
@media screen and (max-width: 425px) {
  .wrap .content .desc .text {
    font-size: 16px;
    line-height: 26px;
  }
}
.wrap .product {
  background-color: #000;
  padding: 30px 30px 60px 30px;
  overflow: hidden;
}
@media screen and (max-width: 425px) {
  .wrap .product {
    padding: 30px 16px;
  }
}
.wrap .product .product_slide {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 425px) {
  .wrap .product .product_slide {
    gap: 16px;
  }
}
.wrap .product .product_slide ul {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 425px) {
  .wrap .product .product_slide ul {
    gap: 16px;
  }
}
.wrap .product .product_slide ul .slide_item {
  position: relative;
  width: 300px;
  height: 400px;
  display: block;
  border-radius: 16px;
  text-transform: uppercase;
}
@media screen and (max-width: 425px) {
  .wrap .product .product_slide ul .slide_item {
    width: 150px;
    height: 200px;
  }
}
.wrap .product .product_slide ul .slide_item .img {
  width: 300px;
  height: 400px;
}
@media screen and (max-width: 425px) {
  .wrap .product .product_slide ul .slide_item .img {
    width: 150px;
    height: 200px;
  }
}
.wrap .product .product_slide ul .slide_item .img img {
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.wrap .product .product_slide ul .slide_item .product_desc {
  display: none;
}
.wrap .product .product_slide ul .slide_item .product_desc .desc_inner img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
@media screen and (max-width: 425px) {
  .wrap .product .product_slide ul .slide_item .product_desc .desc_inner img {
    width: 75px;
    height: 75px;
  }
}
.wrap .product .product_slide ul .slide_item .product_desc .desc_inner .product_name {
  text-align: center;
  font-family: "parkway lush", "Roboto", serif;
  font-size: 40px;
}
@media screen and (max-width: 425px) {
  .wrap .product .product_slide ul .slide_item .product_desc .desc_inner .product_name {
    font-size: 16px;
  }
}
.wrap .product .product_slide ul .slide_item .product_desc .desc_inner .product_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 425px) {
  .wrap .product .product_slide ul .slide_item .product_desc .desc_inner .product_text {
    gap: 5px;
  }
}
.wrap .product .product_slide ul .slide_item .product_desc .desc_inner .product_text .product_category {
  align-self: flex-start;
}
@media screen and (max-width: 425px) {
  .wrap .product .product_slide ul .slide_item .product_desc .desc_inner .product_text .product_category {
    font-size: 12px;
  }
}
.wrap .product .product_slide ul .slide_item .product_desc .desc_inner .product_text .product_price {
  align-self: flex-end;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 425px) {
  .wrap .product .product_slide ul .slide_item .product_desc .desc_inner .product_text .product_price {
    font-size: 14px;
  }
}
.wrap .product .product_slide ul .slide_item:hover .product_desc, .wrap .product .product_slide ul .slide_item:focus .product_desc {
  display: block;
}
.wrap .product .product_slide ul .slide_item:hover .product_desc .desc_inner, .wrap .product .product_slide ul .slide_item:focus .product_desc .desc_inner {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  padding: 20px 15px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #fff;
}
@media screen and (max-width: 425px) {
  .wrap .product .product_slide ul .slide_item:hover .product_desc .desc_inner, .wrap .product .product_slide ul .slide_item:focus .product_desc .desc_inner {
    padding: 10px 12px;
    gap: 5px;
  }
}
.wrap .category {
  padding: 100px 0;
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 27% repeat(2, 36%);
}
.wrap .category .box {
  position: relative;
}
.wrap .category .box .box_img {
  height: 100%;
}
.wrap .category .box .box_img img {
  height: 100%;
  object-fit: cover;
}
.wrap .category .box .box_img .box_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: rgb(0, 0, 0) 0px 0px 160px;
}
@media screen and (max-width: 768px) {
  .wrap .category .box .box_img .box_title {
    font-size: 48px;
  }
}
@media screen and (max-width: 425px) {
  .wrap .category .box .box_img .box_title {
    font-size: 28px;
  }
}
@media screen and (max-width: 320px) {
  .wrap .category .box .box_img .box_title {
    font-size: 22px;
  }
}
@media screen and (max-width: 375px) {
  .wrap .category .box .box_img .box_title {
    font-size: 22px;
  }
}
.wrap .category .box .box_img .box_desc {
  display: none;
}
.wrap .category .box:hover .box_title, .wrap .category .box:focus .box_title {
  display: none;
}
.wrap .category .box:hover .box_desc, .wrap .category .box:focus .box_desc {
  display: block;
}
.wrap .category .box:hover .box_desc .box_inner, .wrap .category .box:focus .box_desc .box_inner {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
@media screen and (max-width: 425px) {
  .wrap .category .box:hover .box_desc .box_inner, .wrap .category .box:focus .box_desc .box_inner {
    padding: 16px;
    gap: 10px;
  }
}
@media screen and (max-width: 320px) {
  .wrap .category .box:hover .box_desc .box_inner, .wrap .category .box:focus .box_desc .box_inner {
    padding: 8px;
    gap: 8px;
  }
}
@media screen and (max-width: 375px) {
  .wrap .category .box:hover .box_desc .box_inner, .wrap .category .box:focus .box_desc .box_inner {
    padding: 8px;
    gap: 8px;
  }
}
.wrap .category .box:hover .box_desc .box_inner .box_text, .wrap .category .box:focus .box_desc .box_inner .box_text {
  text-align: center;
  font-size: 30px;
  letter-spacing: 2%;
  line-height: 42px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 1024px) {
  .wrap .category .box:hover .box_desc .box_inner .box_text, .wrap .category .box:focus .box_desc .box_inner .box_text {
    font-size: 28px;
    line-height: 38px;
  }
}
@media screen and (max-width: 768px) {
  .wrap .category .box:hover .box_desc .box_inner .box_text, .wrap .category .box:focus .box_desc .box_inner .box_text {
    font-size: 18px;
    line-height: 28px;
  }
}
@media screen and (max-width: 425px) {
  .wrap .category .box:hover .box_desc .box_inner .box_text, .wrap .category .box:focus .box_desc .box_inner .box_text {
    font-size: 12px;
    line-height: 20px;
  }
}
@media screen and (max-width: 320px) {
  .wrap .category .box:hover .box_desc .box_inner .box_text, .wrap .category .box:focus .box_desc .box_inner .box_text {
    font-size: 10px;
    line-height: 12px;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 375px) {
  .wrap .category .box:hover .box_desc .box_inner .box_text, .wrap .category .box:focus .box_desc .box_inner .box_text {
    font-size: 10px;
    line-height: 12px;
    text-overflow: ellipsis;
  }
}
.wrap .category .box:hover .box_desc .box_inner .btn, .wrap .category .box:focus .box_desc .box_inner .btn {
  width: 200px;
  border-radius: 12px;
}
@media screen and (max-width: 425px) {
  .wrap .category .box:hover .box_desc .box_inner .btn, .wrap .category .box:focus .box_desc .box_inner .btn {
    width: 120px;
  }
}
.wrap .category .box:first-child {
  grid-column: span 2;
}
.wrap .subscriptions {
  background-color: #000;
  padding: 30px;
}
@media screen and (max-width: 425px) {
  .wrap .subscriptions {
    padding: 16px;
  }
}
.wrap .subscriptions .subscriptions_inner {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 425px) {
  .wrap .subscriptions .subscriptions_inner {
    flex-direction: column;
    gap: 20px;
  }
}
.wrap .subscriptions .video {
  flex-basis: 40%;
}
.wrap .subscriptions .video video {
  width: 100%;
}
.wrap .subscriptions .subscriptions_right {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 425px) {
  .wrap .subscriptions .subscriptions_right {
    gap: 20px;
  }
}
.wrap .subscriptions .subscriptions_right .subscriptions_desc {
  flex-basis: 64%;
  padding-right: 30px;
  color: #fff;
  letter-spacing: 0.8px;
  font-size: 40px;
  line-height: 54px;
  font-weight: 600;
}
@media screen and (max-width: 1440px) {
  .wrap .subscriptions .subscriptions_right .subscriptions_desc {
    font-size: 38px;
    line-height: 47px;
  }
}
@media screen and (max-width: 1024px) {
  .wrap .subscriptions .subscriptions_right .subscriptions_desc {
    font-size: 24px;
    line-height: 36px;
  }
}
@media screen and (max-width: 768px) {
  .wrap .subscriptions .subscriptions_right .subscriptions_desc {
    font-size: 20px;
    line-height: 28px;
    padding-right: 0;
  }
}
@media screen and (max-width: 425px) {
  .wrap .subscriptions .subscriptions_right .subscriptions_desc {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: 320px) {
  .wrap .subscriptions .subscriptions_right .subscriptions_desc {
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (max-width: 375px) {
  .wrap .subscriptions .subscriptions_right .subscriptions_desc {
    font-size: 14px;
    line-height: 22px;
  }
}
.wrap .subscriptions .subscriptions_right .subscriptions_desc span {
  font-size: 42px;
  color: #bfb1dd;
}
@media screen and (max-width: 1440px) {
  .wrap .subscriptions .subscriptions_right .subscriptions_desc span {
    font-size: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .wrap .subscriptions .subscriptions_right .subscriptions_desc span {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  .wrap .subscriptions .subscriptions_right .subscriptions_desc span {
    font-size: 22px;
  }
}
@media screen and (max-width: 425px) {
  .wrap .subscriptions .subscriptions_right .subscriptions_desc span {
    font-size: 20px;
  }
}
@media screen and (max-width: 320px) {
  .wrap .subscriptions .subscriptions_right .subscriptions_desc span {
    font-size: 16px;
  }
}
@media screen and (max-width: 375px) {
  .wrap .subscriptions .subscriptions_right .subscriptions_desc span {
    font-size: 16px;
  }
}
.wrap .subscriptions .subscriptions_right .subscriptions_img {
  flex-basis: 36%;
  padding-right: 30px;
}
@media screen and (max-width: 768px) {
  .wrap .subscriptions .subscriptions_right .subscriptions_img {
    padding-right: 0;
  }
}
.wrap .value {
  position: relative;
  background-color: #000;
  padding: 30px;
  height: 500px;
}
@media screen and (max-width: 768px) {
  .wrap .value {
    height: 380px;
  }
}
@media screen and (max-width: 425px) {
  .wrap .value {
    height: 340px;
  }
}
.wrap .value ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.wrap .value ul .value_item a {
  position: relative;
  display: block;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .wrap .value ul .value_item a {
    width: 90px;
    height: 90px;
  }
}
@media screen and (max-width: 425px) {
  .wrap .value ul .value_item a {
    width: 60px;
    height: 60px;
  }
}
.wrap .value ul .value_item a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
}
@media screen and (max-width: 768px) {
  .wrap .value ul .value_item a img {
    width: 70px;
    height: 70px;
  }
}
@media screen and (max-width: 425px) {
  .wrap .value ul .value_item a img {
    width: 50px;
    height: 50px;
  }
}
.wrap .value ul .value_item .value_img {
  display: none;
}
.wrap .value ul .value_item:hover a, .wrap .value ul .value_item:focus a {
  background-color: #fff;
}
.wrap .value ul .value_item:hover a img, .wrap .value ul .value_item:focus a img {
  filter: invert(100%);
}
.wrap .value ul .value_item:hover .value_img, .wrap .value ul .value_item:focus .value_img {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
}
@media screen and (max-width: 425px) {
  .wrap .value ul .value_item:hover .value_img, .wrap .value ul .value_item:focus .value_img {
    bottom: 30px;
  }
}
.wrap .footer {
  background-color: #000;
  padding: 30px 0 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (max-width: 425px) {
  .wrap .footer {
    padding: 15px 0;
  }
}
.wrap .footer .service_inner {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 425px) {
  .wrap .footer .service_inner {
    padding: 0 16px;
    gap: 8px;
  }
}
.wrap .footer .service_inner h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 1024px) {
  .wrap .footer .service_inner h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 425px) {
  .wrap .footer .service_inner h3 {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  .wrap .footer .service_inner h3 {
    font-size: 12px;
  }
}
@media screen and (max-width: 375px) {
  .wrap .footer .service_inner h3 {
    font-size: 12px;
  }
}
.wrap .footer .service_inner ul {
  display: flex;
  gap: 10px;
  font-size: 14px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .wrap .footer .service_inner ul {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .wrap .footer .service_inner ul {
    font-size: 10px;
  }
}
@media screen and (max-width: 425px) {
  .wrap .footer .service_inner ul {
    gap: 5px;
    font-size: 8px;
  }
}
.wrap .footer .service_inner ul .service_item {
  padding-bottom: 2px;
}
.wrap .footer .service_inner ul .service_item:hover, .wrap .footer .service_inner ul .service_item:focus {
  text-decoration: underline;
}
.wrap .footer .copylight {
  padding: 15px 30px 10px;
  border-top: 2px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
@media screen and (max-width: 1024px) {
  .wrap .footer .copylight {
    font-size: 12px;
  }
}
@media screen and (max-width: 425px) {
  .wrap .footer .copylight {
    padding: 10px 16px;
    border-top: 1px solid #fff;
    font-size: 8px;
  }
}
@media screen and (max-width: 320px) {
  .wrap .footer .copylight {
    padding: 10px 16px 0 16px;
  }
}
@media screen and (max-width: 375px) {
  .wrap .footer .copylight {
    padding: 10px 16px 0 16px;
  }
}
.wrap .footer .copylight .language_inner {
  position: relative;
  display: flex;
  gap: 10px;
}
.wrap .footer .copylight .language_inner span {
  position: relative;
  padding-right: 10px;
}
.wrap .footer .copylight .language_inner span::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: #fff;
  border-radius: 8px;
  width: 5px;
  height: 5px;
}
@media screen and (max-width: 425px) {
  .wrap .footer .copylight .language_inner span::after {
    width: 3px;
    height: 3px;
  }
}
.wrap .footer .copylight .language_inner span:last-child::after {
  content: "";
  display: none;
}

.btn {
  display: inline-block;
  border: 1px solid #fff;
  padding: 5px 12px 3px 12px;
  border-radius: 16px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
@media screen and (max-width: 425px) {
  .btn {
    padding: 3px 12px;
  }
}
.btn a {
  border: none;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .btn a {
    font-size: 16px;
  }
}
@media screen and (max-width: 425px) {
  .btn a {
    font-size: 13px;
  }
}
@media screen and (max-width: 320px) {
  .btn a {
    font-size: 10px;
  }
}
@media screen and (max-width: 375px) {
  .btn a {
    font-size: 10px;
  }
}
.btn:hover {
  background-color: #fff;
  color: #000;
}
.btn:focus-within {
  background-color: #fff;
  color: #000;
}

.btn a:focus {
  background-color: #fff;
  color: #000;
}

.section_header {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.section_header .title {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  .section_header .title {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .section_header .title {
    font-size: 36px;
  }
}
@media screen and (max-width: 425px) {
  .section_header .title {
    font-size: 20px;
  }
}
@media screen and (max-width: 320px) {
  .section_header .title {
    font-size: 18px;
  }
}
@media screen and (max-width: 375px) {
  .section_header .title {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
